.form-container{
  height: auto;
  width: 100vw;
  margin-top: 10px;
  margin-bottom: 20px;
}
      
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

  .card-login{
    margin-top: 8%;
  }
.input-container{
  display: flex;
  justify-content: start;
  flex-direction: column;
}

  label {
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: bold;
    text-align: left;
    color: rgb(3, 65, 111);;
   }
  
  input {
    padding: 2px;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
 

  .login-btn{
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(3, 65, 111);
    /* background-color: #826020; */
    font-size: 16px;
  }

  .login-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  a{
    text-decoration: none;
  }

  .form-submit-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
  }

  
  .google-btn {
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #DD4B39;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .google-icon {
    margin-right: 10px;
  }

  .google-btn:hover {
    backface-visibility: hidden;
    opacity: 0.2;
  }

  .or {
    margin-left: 200px;
    width: 40px;
    height: 40px;
    background: rgb(10, 5, 75);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
  }


.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgot-password {
  display: flex;
  align-items: center;
}

.auth-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.auth-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: rgb(3, 65, 111);
  animation: spin 1s ease-in-out infinite;
}
