.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.welcome-message h1 {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  /* color: #2c3e50; */
  color: #c52155;
  text-align: center;
}

    .profile-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-profile {
      width: 50%;
      max-width: 400px;
      margin: auto;
      padding: 10px;
      display: flex;
    }

    .card-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .text-center{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  
    .table th, .table td {
      padding: 15px;
      text-align: left;
    }
    
    
    /* Additional styling */
    h2 {
      font-weight: bold;
      color: #133e69;
    }
    
    h3 {
      font-weight: bold;
      color: #343a40;
    }

    .problems-solved {
      font-family: 'Poppins', sans-serif;
      font-size: 1.5rem;
      color: #34495e;
      font-weight: 600;
      margin-top: 20px;
      text-align: center;
      background-color: #f7f9fb;
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: 8px 8px 8px 8px rgba(0.1, 0.1, 0.1, 0.1);
    }
    
    .problems-solved span {
      color: #c52155;
    }
    
    .container-pie-data {
      max-width: 370px;
      margin: auto;
    }
        